{% load static %} {% load i18n %} {% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kurs</title>
    <link
      rel="icon"
      href="{% static 'image/mlinpek logo.png' %}"
      type="image/x-icon"
    />
    {% compress css %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% endcompress %}
  </head>
  <body>
    {%include 'store/nav.html'%} {% block content %}

    <div class="ponuda">
      <h1>PONUDA:</h1>
      <p>
        Dostavljamo Vam našu Ponudu za stručne usluge kod izvođenja obuke Vaših
        stručnih kadrova na vođenju tehnološkog procesa prerade pšenice.
        Napominjemo da će se obuka izvoditi u Vašim pogonima i tokom obuke biće
        kroz konsultacije definisani neophodni zahvati na konsolidaciji
        pojedinih tehnoloških celina.
      </p>
      <p>
        U obuku su uključene sve službe preduzeća od čijeg rada može da zavisi
        kvalitet gotovih proizvoda, a obuka će biti izvedena u svim tehnološkim
        zadacima, od kontrole kvaliteta sirovina, principa bezbednog
        skladištenja do pripreme pšenice za mlevenje, mlevenja i skladištenja i
        otpreme gotovih proizvoda.
      </p>
      <p>
        Tokom obuke biće definisani svi parametri procesa i određena
        metodologija za kontrolu parametara. Takođe će biti određen minimalni
        nivo kvaliteta sirovine i ispod tih graničnih vrednosti se ne može
        primiti sirovina u krug Preduzeća. Obuka podrazumeva i eventualni
        zajednički obilazak pojedinih mlinskih preduzeća u Srbiji, kako bi se
        razmenila iskustva Vaših nosilaca proizvodnje sa stručnjacima istog
        profila u najnaprednijim srpskim mlinovima.
      </p>
      <p>
        Obuka će se izvoditi tokom dva - tri meseca i to po dva/tri dana
        nedeljno prema dogovoru sa Vama. Program obuke će biti prilagođen nivou
        stručnosti pojedinih nosilaca stručnih poslova u Vašem Preduzeću.
      </p>
      <p>
        Tokom izvođenja programa biće izvedena pasažna analiza svih brašna koja
        nastaju u mlinu i po kvalitetu i po kvantitetu. Rezultati ove pasažne
        analize biće od velikog značaja za utvrđivanje pravila u raspodeli
        pojedinih brašna u sabirne puževe u mlinu.
      </p>
      <p>
        Predmet naših usluga je i definisanje svih parametara procesa, kao i
        utvrđivanje metodologije za kontrolu na kritičnim kontrolnim tačkama.
        Takođe će se imenovati nosioci kontrole i dinamika izvođenja pojedinih
        kontrolnih operacija.
      </p>
      <p>
        Kao rokove za izvršenje svih ponuđenih usluga navodimo period od dva
        meseca rada prema dogovorenoj dinamici tokom svake radne nedelje.
      </p>
      <p>Za ponuđene usluge predlažemo naknadu od: 7000Eura</p>
      <p>
        Kao način plaćanja predlažemo avans od 50%, a ostali deo nakon završetka
        obuke.
      </p>
      <p>
        U ponudu nisu uključeni toškovi našeg boravka u Vašem preduzeću, ni
        troškovi ishrane.
      </p>
    </div>
    <hr />
    <h2 style="text-align: center; padding: 20px 0 20px 0">
      PROGRAM OSNOVNOG KURSA TEHNOLOGIJE PRERADE ŽITA
    </h2>
    <div class="tables">
      <table class="table table-dark">
        <h3>1. nedelja (Milan N. Skendžić)</h3>
        <tr>
          <td></td>
          <td>
            Upoznavanje sa učesnicima kursa. Upoznavanje sirovina, žitarice,
            posebno osvrt na specifičnosti pšenice kao mlinske sirovine.
            Klasifikacija sorti po osnovnom kvalitetu, sorte poboljšivači,
            osnovne hlebne sorte i slabe pšenice i njihova osnovna namena.
            Pokazatelji kvaliteta: trgovački kvalitet, tehnološki kvalitet.
            Morfološka građa zrna i osnovni hemijski sastav zrna. Primese,
            sadržaj vlage, sadržaj proteina, hektolitarska masa kao elementi
            trgovačkog kvaliteta.
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            Pojam tehnološkog kvaliteta, kvalitet proteina, posebno glutena i
            uticaj na pekarski kvalitet brašna. Farinograf i vrednosti po
            farinogramu, Ekstenzograf i vrednosti po ekstezogramu, Amilograf i
            vrednosti po amilografu- Uzorkovanje tokom prijema, ručno i
            automatski. Testovi kvaliteta na prijemu: vizuelne karakteristike,
            testovi aparatima i razvrstavanje po kvalitetu.
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            Neposredno upoznavanje sa aparatima i metodama rada u laboratoriji
            na utvrđivanju osnovnog trgovačkog i tehnološkog kvalitata.
            Utvrđivanje minimalnih granica kvaliteta.
          </td>
        </tr>
      </table>
      <table class="table table-dark">
        <h3>2. nedelja (Nebojša Spasojević)</h3>
        <tr>
          <td></td>
          <td>
            Ciljevi skladištenja: Očuvanje kvaliteta pšenice (žita) do sledeće
            žetve, posležetvno dozrevanje, uticaj polomljenih i smežuranih zrna
            na izbrašnjavanje. Disanje žita, produkti disanja, vlaga i toplota
            utiču na dalji porast intenziteta disanja (samozagrevanje). Vlaga
            (ravnotežna vlaga 14%), primese Prijem i skladištenje žita, posebno
            pšenice. Merenje na kolskoj vagi i uzimanje uzoraka i definisanje
            kvalieta i količine. Donošenje odluke o prijemu i razvrstavanje po
            kvalitetu.
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            Predčišćenje tokom prijema, eventualno sušenje i skladištenje,
            očuvanje kvaliteta. Procesi koji se odvijaju u žitu tokom
            skladištenja. Tehnologija u silosima i postupci tokom skladištenja.
            Aspiracija u silosima i značaj postupaka otprašivanja. Oprema u
            silosu, merenje, prijem, prethodno čišćenje, predtemperiranje,
            skladišne komore, transportna oprema, podešavanje i održavanje
            mašina Praktičan rad u silosu za žito, podešavanje uređaja, uzimanje
            uzoraka i dnevna provera efikasniosti mašina. Transportni uređaji u
            silosu, uređaji za čišćenje, cikloni, filteri i ventilatori,
            cevovodi, sistemi za merenje temperature, nivo pokazivači.
          </td>
        </tr>
        <tr></tr>
      </table>

      <table class="table table-dark">
        <h3>3. nedelja (Milan N. Skendžić)</h3>
        <tr>
          <td></td>
          <td>
            Čistiona, priprema za mlevenje, dijagram pripreme pšenice za
            mlevenje. Izdvajanje primesa, izdvajanje primesa po veličini
            čestica, izdvajanje primesa po gustini, idvajanje primesa po obliku,
            izdavajanje primesa po brzini lebdenja. Značaj idvajanja primesa na
            kvalitet gotovih proizvoda, uticaj na pepeo brašna, uticaj na
            mikrobiološku ispravnost, uticaj na higijensku i zdravstvenu
            ispravnost. Postupak sa primesama Aspirator, aspiraciona komora,
            komore sa racirkulacijom vazduha, koncentrator, kombi-cleaner, suvi
            odvajač kamena, trijer. Osvrt na color-separator. Površinska obrada
            zrna, suva horizontalna ribalica sa aspiracionom komorom, osvrt na
            praonicu i vertikalnu mokru ribalicu. Hidrotermička priprema zrna za
            mlevenje, značaj kvašenja i odležavanja, procesi u zrnu tokom
            odležavanja, punjenje deponija vode u prostoru ispod ljuske,
            nastanak mikropukotina i njihov značaj u procesu prerade. Pojam
            optimalne mlevne vlage i optimalnog vremena odležavanja.osvrt na
            termičke uređaje u procesu hidrotermičke pripreme.
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            Uređaji u fazi vlaženja i odležavanja, merenje mase i sadržaja vlage
            u pšenici koja se upućuje na kvašenje. Proces bubrenja zrna u prvom
            satu nakon vlaženja i problemi u isticanju zrna iz komora za
            odležavanje. Važnost sistema fi-fo kod isticanja zrna iz komora za
            odležavanje, oblici ćelija sa više izlaza. Značaj višefaznog
            kvašenja i odležavanja i značaj praćenja vremena odležavanja u obe
            faze. Površinska obrada zrna nakon odležavanja i značaj uklanjanja
            mekinjaste prašine iz mase oribanog zrna, Horizontalne intenzivne
            ribalice sa aspiracionom komorom. Merenje žita neposredno pre
            upućivanja na mlinsku preradu i značaj utvrđivanja realnog
            izbrašnjavanja, obračun na bazi realno upućene pšenice na mlevenje.
            Praktičan rad u čistioni mlina, obuka kod provere materijala i
            uzimanje uzoraka, određivanje ukupnog učinka i provera efikasnosti
            čistione
          </td>
        </tr>
        <tr></tr>
      </table>

      <table class="table table-dark">
        <h3>4. nedelja (Milan N. Skendžić)</h3>
        <tr>
          <td></td>
          <td>
            Mlevenje pšenice, višefazno selektivno usitnjavanje anatomskih
            delova zrna. Razmatranje dijagrama mlevenja. Kategorizacija faza
            obrade mliva. Faza krupljenja, prvi krupač i njegova uloga u
            otvaranju zrna, Drugo krupljenje i ostvarivanje maksimalnog učinka u
            formiranju ukupnog izvoda u fazi obrade materijala I kategorije.
            Uloga trećeg krupljenja u obradi perifernih delova ostatka
            endosperma, faza obrade mliva II kategorije Četvrti krupač i značaj
            obrade graničnih delova zrna i aleuronskog sloja, posebno sa aspekta
            kvaliteta proizvoda. Prisustvo enzima, minerala i vitamina u
            brašnima iz perifernih slojeva zrna. Završna obrada omotača na V
            krupljenju, odnosno na vrgačima mekinja. Tretman međuprodukata u
            fazi obrade materijala III kategorije. Vrgači kao pomoćne mašine u
            mlinu i njihov značaj u ostvarivanju visokog izbrašnjavanja.
            Rastvaranje grizeva kao zasebna tehnološka celina u dijagramu
            mlevenja. Mlevenje sitnih grizeva i osevaka do konačnog ostavrivanja
            željenog izbrašnjavanja.
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            Parametri valjaka, geometrijski, kinematički i tehnološki parametri
            i kontrola njihovog stanja. Oblik i broj žlebova, uglovi i nagib
            žlebova i njihov uticaj na efekte usitnjavanja. Obimna brzina
            valjaka i prenosni odnos i njihov uticaj na odnose sila u mlevnom
            prostoru valjaka. Specifično opterećenje i priroda materijala kao
            uslov efikasne obrade mliva. Pojam optimalnog stepena usitnjavanja,
            definisanje granica na pojedinim prolazištima krupljenja,
            rastvaranja i mlevenja Razvrstavanje mliva na planskim sitima,
            grupisanje po granulaciji i tehnološkim specifičnostima, Čišćenje
            međuprodukata mlevenja na čistilicama griza i značaj ove faze u
            tehnološkom procesu mlevenja. Formiranje tipskih i namenskih brašna
            kombinacijom pasažnih brašna u sabirnim puževima. Principi
            raspodele, po pepelu, po sadržaju proteina, po kvalitativnim
            svojstvima.
          </td>
        </tr>
      </table>

      <table class="table table-dark">
        <h3>5. nedelja (Nebojša Spasojević)</h3>
        <tr>
          <td></td>
          <td>
            mlevenje i praktičan rad u mlinu, podešavanje rada valjaka na svim
            prolazištima usitnjavanja. Izrada analize granulacionih sastava
            mliva, uzimanje uzoraka za pasažnu analizu. Implementacija programa
            „MILLTECH“ i ubacivanje podataka iz mlevnog dijagrama u ovaj
            računarski program. Ubacivanje svih tehničkih podataka o pojedinim
            elementima mlina na svim prolazištima prema dijagramu mlina u
            „MILLTECH“ program. Ubacivanje podataka iz analize sejanja . Tehnika
            korišćenja prgrama „MILLTECH“
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            Implementacija programa „ASCHE-PROTEIN TABELLE“ i ubacivanje
            podataka iz pasažne analize. Analitičko korišćenje računarskog
            programa „ASCHE- PROTEIN TABELLE“ i njegov značaj u dnevnoj kontroli
            rada mlina.
          </td>
        </tr>
      </table>

      <table class="table table-dark">
        <h3>6. nedelja (Nebojša Spasojević)</h3>
        <tr>
          <td></td>
          <td>
            Kontrolna uloga nosilaca prerade u mlinu, značaj kontrole parametara
            procesa. Kontrola rada valjka I krupljenja (B1), stepen obrade mliva
            na prvom krupljenju i njegov značaj za preraspodelu međuprodukata
            mlevenja. Kontrola rada valjaka II krupljenja (B2), optimalni stepen
            obrade mliva na drugom krupljenju i njegov značaj za preraspodelu
            međuprodukata mlevenja. Kontrola rada valjaka III krupljenja (B3),
            optimalni stepen obrade mliva na trećem krupljenju i njegov značaj
            za preraspodelu međuprodukata mlevenja. Kontrola rada valjaka IV
            krupljenja (B4), optimalni stepen obrade mliva na četvrtom
            krupljenju i njegov značaj za preraspodelu međuprodukata mlevenja.
            Kontrola rada valjaka V krupljenja (B5), optimalni stepen obrade
            mliva na petom krupljenju i njegov značaj za preraspodelu
            međuprodukata mlevenja. Kontrola rada planskih sita, značaj
            pravilnog razvrstavanja mliva nakon obrade na valjnim stolicama,
            vizuelna kontrola svih frakcija mliva na pojedinim odelenjima
            planskih sita. Poseban osvrt na kontrolu čistoće pasažnih brašna
            Kontrola rada čistilica griza i značaj uloge čišćenja grizeva za
            ukupan uspeh mlina. Vizuelna kontrola propada i prelaza na svim
            čistilicama griza.
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            Kontrola rada valjka u fazi rastvaranja grizeva (postupno
            usitnjavanje krupnih i srednjih grizeva) i značaj ove obrade na
            kvalitet brašna u fazi obrade metrijala I, II i III kategorije.
            Optimalni nivo obrade mliva na svim prolazištima rastavranja (R1g;
            R1f; R2; R3; R4) Kontrola rada valjaka u fazi mlevenja sitnih
            grizeva i osevaka I, II, III i IV kategorije, postupna obrada mliva
            do granulacije brašna. Optimalni nivo obrade na svim prolazištima
            mlevenja (C1; C2; C3; C4; C5; C6 i C7). Praktično izvođenje kontrole
            na svim prolazištima u mlinu. Formiranje metode kontrole rada
            planskih sita, posebno vizuelna kontrola svih pasažnih brašna.
            Redovna kontrola čistilica griza, formiranje metode kontrole rada
            čistilica griza, posebno vizuelna kontrola prelaza i propada sa
            pojedinih prolazišta čišćenja grizeva. Kontrola raspodele pasažnih
            brašna i provera čistoće i beline svih tipskih brašna, provera
            sadržaja pepela u smenskoj kontroli.
          </td>
        </tr>
      </table>

      <table class="table table-dark">
        <h3>7. nedelja (Nebojša Spasojević)</h3>
        <tr>
          <td></td>
          <td>
            Silos za brašno Ciljevi skladištenja brašna, očuvanje kvaliteta
            brašna tokom skladištenja,. Promena kvaliteta brašna tokom
            skladištenja, period konsolidacije tehnoloških pokazatelja
            kvaliteta. sledeće žetve, posležetvno dozrevanje, uticaj polomljenih
            i smežuranih zrna na izbrašnjavanje. Disanje žita, produkti disanja,
            vlaga i toplota utiču na dalji porast intenziteta disanja
            (samozagrevanje).Vlaga (ravnotežna vlaga 14%), primese. Prijem i
            skladištenje žita, posebno pšenice. Merenje na kolskoj vagi i
            uzimanje uzoraka i definisanje kvalieta i količine. Donošenje odluke
            o prijemu i razvrstavanje po kvalitetu. kontrola kvaliteta gotovih
            proizvoda
          </td>
        </tr>
      </table>
    </div>
    {% endblock %}

    <style>
      .ponuda h1 {
        text-align: center;
        padding: 50px 0 20px 0;
      }

      .ponuda p {
        padding: 0 20px 0 20px;
        font-size: 20px;
        text-align: justify;
      }

      .tables table {
        margin: 0 15px 30px 15px;
      }

      .tables h3 {
        padding-left: 15px;
      }

      .tables table td {
        font-size: 20px;
      }
    </style>
  </body>
</html>
